name: Save Daylist Snapshots

on:
  schedule:
  - cron: '0 7,13,18,23 * * *'
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  execute-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python Environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Requirements
        run: pip install -r requirements.txt

      - name: Execute Python script
        run: python main.py
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
          DAYLIST_EMBED_ID: ${{ secrets.DAYLIST_EMBED_ID }}
          PLAYLISTS_CONFIG: ${{ secrets.PLAYLISTS_CONFIG }}
